<?xml version="1.0"?>
<!--
/**
 * This file is part of Magerun
 */
-->
<config>
    <modules>
        <Magerun_Reproduce2>
            <version>1.0.0.0</version>
        </Magerun_Reproduce2>
    </modules>
    <global>
        <models>
            <enterprise_cms>
                <rewrite>
                    <config>Magerun_Reproduce2_Model_Rewrite_Enterprise_CmsConfig</config>
                </rewrite>
            </enterprise_cms>
        </models>
    </global>
</config>
